* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg {
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-style: italic;
    font-size: 40px;
    text-align: center;
}

.form-reg {
    width: 94%;
    margin: 30px 3%;
}

.input-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-reg__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 70px;
    font-family: 'Playfair Display', serif;
    font-weight: regular;
    font-size: 25px;
    background: transparent;
}

.form-reg__label {
    position: absolute;
    top: 15px;
    left: 0;
    font-family: 'Playfair Display', serif;
    font-weight: regular;
    font-size: 25px;
    transition: all .5s ease;
    z-index: -1;
}

.form-reg__input:focus ~ .form-reg__label, .form-reg__input:valid ~ .form-reg__label {
    top: -15px;
    font-size: 20px;
}

.form-reg__submit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 35px;
    margin-bottom: 20px;
    border: none;
    background-color: darkgray;
    font-family: 'Playfair Display', serif;
    font-weight: regular;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.form-reg__submit:active {
    bottom: -2px;
}

.link-on-login {
    font-family: 'Playfair Display', serif;
    font-weight: regular;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    color: #000;
}

.link-on-login:visited {
    color: black;
}

.link-on-login:hover span {
    animation: textUp .5s;
}

@keyframes textUp {
    0%, 100%
    {
        transform: translate(0);
    }
    25% 
    {
        transform: translateY(2px) rotate(-3deg) rotateX(20deg);
    }
    50% 
    {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

.link-on-login:hover span:nth-child(2) {
    animation-delay: .05s;
}

.link-on-login:hover span:nth-child(3) {
    animation-delay: .1s;
}

.link-on-login:hover span:nth-child(4) {
    animation-delay: .15s;
}

.link-on-login:hover span:nth-child(5) {
    animation-delay: .2s;
}

.link-on-login:hover span:nth-child(6) {
    animation-delay: .25s;
}

.link-on-login:hover span:nth-child(7) {
    animation-delay: .3s;
}

.link-on-login:hover span:nth-child(8) {
    animation-delay: .35s;
}

.link-on-login:hover span:nth-child(9) {
    animation-delay: .4s;
}

.link-on-login:hover span:nth-child(10) {
    animation-delay: .45s;
}

.link-on-login:hover span:nth-child(11) {
    animation-delay: .5s;
}

.link-on-login:hover span:nth-child(12) {
    animation-delay: .55s;
}

.link-on-login:hover span:nth-child(13) {
    animation-delay: .6s;
}

.link-on-login:hover span:nth-child(14) {
    animation-delay: .65s;
}

.link-on-login:hover span:nth-child(15) {
    animation-delay: .7s;
}

.link-on-login:hover span:nth-child(16) {
    animation-delay: .75s;
}

.link-on-login:hover span:nth-child(17) {
    animation-delay: .8s;
}

.link-on-login:hover span:nth-child(18) {
    animation-delay: .85s;
}

.link-on-login:hover span:nth-child(19) {
    animation-delay: .9s;
}

.link-on-login:hover span:nth-child(20) {
    animation-delay: .95s;
}