*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #F5F5F5;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 25px;
}

/* Header */

.header--top {
    min-height: 150px;
}

.header__inner {
    width: calc(100% - 120px);
    min-height: 150px;
    margin: 0 100px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    max-width: 60%;
    min-width: 50%;
    position: relative;
}

.search {
    width: 100%;
    padding: 10px 8px 10px 50px;
    border: #99958C solid 2px;
    border-radius: 25px;
    font-size: 20px;
}

.img--lens {
    position: absolute;
    top: 7px;
    left: 10px;
    transition: 1s ease;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
}

.nav-item:visited {
    text-decoration: none;
    color: #000;
}

.img--avatar {
    width: 32px;
    height: 35px;
}

/* /Header */

/* Main */

.main {
    display: flex;
}

.aside {
    width: 150px;
    height: 100vh;
    background: #1560BD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-item {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background .5s ease;
}

.aside-item--active {
    background: rgba(254, 254, 254, .2);
}

.aside-item:first-child {
    margin-bottom: 150px;
}

.aside-item:hover {
    background: rgba(254, 254, 254, .2);
}

.img--aside {
    width: 45px;
    height: 45px;
}

.modal-aside {
    width: 300px;
    height: 100vh;
    background: rgba(21, 96, 189, .1);
}



.main-content {
    width: calc(100% - 450px);
}
